

.banner{
    
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    background-size: 100%;
    
}

body{
    color: white;
    
}


header{
    background-image: url(https://www.itl.cat/pngfile/big/38-387219_star-wars-spaceship-art.jpg);
    
    background-size: 100%;
    height: 100%;
    width:100%;
    background-size: 100%;
    box-shadow: inset 30px 30px 30px;
    box-shadow: 5px 10px 20px 10px #2b2a2a;
    
    
    
}

.logoStar{
    display: flex;
    justify-content: center;
}



.banner p {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
   
}

.botaoBanner{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    
    
}

.botaoBanner a{
    width: 160px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: solid 2px white;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}

.botaoBanner a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(18, 109, 249);
    background-size: 100%;
    
    transition: 2s;
    
    
    
}


.banner img{
   height: 287px;
   width: 600px;
   
}

nav ul li a{
    list-style: none;
    
    color:inherit;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    text-shadow: 3px 3px 3px black;
}



nav ul li a::after{
    content: '';
    width:0%;
    height: 4px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
    color: white;
    
}

nav ul li a:hover::after{
    width: 100%;
    color: white;
   
}




nav ul{
    display: flex;
    justify-content: end;
    margin-right: 30px;
    padding-top: 30px;
    list-style-type: none;
    justify-content: space-around;
}

.fundoEscuro{
    height: 530px;
    width:100%;
    background-color: black;
    opacity: 0.9;
}



.nav-link {
    color: black;
    
}

/*----------------INTRODUCAO------------------------*/


.introducao {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  
    
}


.introducao .txt{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}


.introducao p{
    font-size: 20px;
    width: 70%;
    font-style: italic;
    font-family: 'Poppins', sans-serif;;
}


/*-----------------FILMES-----------------------*/
.filmes img{
    height: 400px;
    
    
}

.filmes{
   margin-bottom: 50px;
   font-family: 'Poppins', sans-serif;
}

.banner{
    margin-top: 30px;
    height: 400px;
    
}

.container .col{
   
    margin: 40px;
    
    
}

.card{
    text-align: center;
    box-shadow: 5px 5px 10px black;
}

.card:hover{
    background-color: rgb(231, 231, 231);
    transform: scale(1.05);
    transition: 0.5s;
}


/*----------------PERSONAGENS------------------------*/

.personagens {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.carousel-inner{

}

h2{
    text-align: center;
}


#carouselExampleCaptions{
    border-radius: 24px;
    border: solid 4px black;
    box-shadow: 5px 5px 20px black
}

#carouselExampleCaptions img{
   
    border-radius: 20px;
    width: 100%;
    height: 500px;
    
}

#carouselExampleCaptions{
    width: 60%;
}

/*--------------QUIZ---------------------*/



.quiz{
    text-align: center;
    height: 600px;
}

.quiz a{
    width: 20%;
    height: 50px;
}

.quiz .quizTop{
    display: flex;
    justify-content: end;
    padding-left: 50px;
    width: 100%;
   
}

.quiz img{
    
    
}

.quiz p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;

}

.quiz a{
    text-align: center;
    width: auto;
}


/*----------------FOOTER-------------------*/


footer{
    height: 150px;
    margin-top: 200px;
    background-image: url(../img/fundoEstrelas.png);
  
   
    
}

footer p{
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
    
}

